.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    flex-wrap: nowrap;
    gap: 2rem;
    left: 25rem;
    top: -19rem;

    @media screen and (max-width: 1500px) {
        left: 23rem;
        top: -19rem;
        
    }

    @media screen and (max-width: 1100px) {
        left: 5rem;
        top: -19rem;
        flex-wrap: nowrap;
        
    }

    @media screen and (max-width: 768px) {
        top: -19rem;
        flex-wrap: nowrap;
        overflow-y: visible;
        overflow-x: auto;
        max-width: calc(100% - -3rem);
        padding-bottom: 5rem;
        padding-left: 33rem;
        margin-left: -3rem;
        
    }

    @media screen and (max-width: 550px) {
        top: -19rem;
        flex-wrap: nowrap;
        overflow-y: visible;
        overflow-x: auto;
        max-width: calc(100% - -4rem);
        padding-bottom: 5rem;
        padding-left: 48rem;
        margin-left: -5rem;
    }

    @media screen and (max-width: 480px) {
        top: -19rem;
        flex-wrap: nowrap;
        overflow-y: visible;
        overflow-x: auto;
        max-width: calc(100% - -3rem);
        padding-bottom: 5rem;
        padding-left: 52rem;
        margin-left: -3rem;
    }

    @media screen and (max-width: 414px) {
        top: -19rem;
        flex-wrap: nowrap;
        overflow-y: visible;
        overflow-x: auto;
        max-width: calc(100% - -3rem);
        padding-bottom: 5rem;
        padding-left: 52rem;
        margin-left: -3rem;
    }
}

.crad-1 {

    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 0.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color: rgb(18, 29, 51);
    min-width: 0px;
    padding: 1.25rem;
    transition: background-image 0.6s ease 0s;
    height: 12rem;
    min-width: 24rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(rgb(248, 245, 245), rgb(241, 238, 238));
    }

    @media screen and (max-width: 1200px) {

    }
}

.crad-2 {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 0.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color: rgb(18, 29, 51);
    min-width: 0px;
    padding: 1.25rem;
    transition: background-image 0.6s ease 0s;
    height: 12rem;
    min-width: 24rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(rgb(248, 245, 245), rgb(241, 238, 238));
    }

    @media screen and (max-width: 1200px) {

    }

    @media screen and (max-width: 414px) {
        
    }
}

.crad-3,
.crad-4 {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 0.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color: rgb(18, 29, 51);
    min-width: 0px;
    padding: 1.25rem;
    transition: background-image 0.6s ease 0s;
    height: 12rem;
    min-width: 24rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(rgb(248, 245, 245), rgb(241, 238, 238));
    }

    @media screen and (max-width: 550px) {
        
    }

    @media screen and (max-width: 414px) {
        
    }
}

.card-btc1,
.card-btc2,
.card-btc3,
.card-btc4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;

    
}

.card-btcs1,
.card-btcs2,
.card-btcs3,
.card-btcs4 {

    &--mg {
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
    }

}


    


.buttons-btc1,
.buttons-btc2,
.buttons-btc3,
.buttons-btc4 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;

    &--1 {
        height: 24px;
        width: 48px;
        border: none;
        border-radius: 7px;
        font-size: 15px;
        background-color: #e5d5ec;
        color: #840fbe;
        cursor: pointer;

        &:hover {
            background-color: #dacce0;
        }
    }

    &--2 {
        height: 24px;
        width: 48px;
        border: none;
        border-radius: 7px;
        font-size: 15px;
        background-color: rgb(223, 240, 217);
        color: rgb(77, 216, 22);
        cursor: pointer;

        &:hover {
            background-color: rgb(200, 188, 206);
        }
    }
}


.paragraph-btc1,
.paragraph-btc2,
.paragraph-btc3,
.paragraph-btc4 {

    &--1 {
        font-size: 1.4rem;
        font-weight: 500;
        color: black;
    }

    &--2 {
        font-size: 1.4rem;
        font-weight: 500;
        color: black;
    }
}

.PSAN1-1,
.PSAN1-2,
.PSAN1-3,
.PSAN1-4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(167, 170, 167);
}

.PSAN2-1,
.PSAN2-2,
.PSAN2-3,
.PSAN2-4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(63, 250, 7);
}

.a1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    background: none;
    list-style: none;
    border: none;
    border-radius: 0px;
    color: rgb(18, 29, 51);
    padding: 0px;
    font-size: 1rem;
    line-height: 143%;
    transform: translate(400px, 103px);

    @media screen and (max-width: 1500px) {
        
    }

    @media screen and (max-width: 1100px) {
        
    }
    

    @media screen and (max-width: 550px) {
        
    }

}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2px;
}



